<div style="text-align: center;font-size:2em">
    <p>Pour accéder à la formation à la programmation en langage Python, c'est ici :</p>
    <a href="https://gitpod.io/#https://gitlab.com/open-scientist/draft-formation-python-projet-gestion-base-stagiaires"><button>Accéder à l'espace de cours</button></a>
</div>
